body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #ff5a60;
}
h1{
  color: white;
  font-size: 90px;
  margin:110px auto 10px auto;
  width: 900px;
}
p{
  font-size: 30px;
  color: white;
  margin: 40px auto 10px auto;
  text-align: center;

}
img{
  width: 150px;
  position: relative;
  left: 600px;

}